img {
  max-width: 100%;
  vertical-align: middle;
  height: auto;
}

table,
tr,
th,
td {
  border: 1px solid rgb(209, 204, 204);
  border-collapse: collapse;
}

.cart-main {
  width: 100%;
 min-height: 60vh;
}

.shopping-cart-empty {
  height: 60vh;

}

.product-thumbnail {
  max-width: 100px;
}

.shopping-cart {
  display: none;
}

#show-shopping-cart {
  display: none;
}

.hide {
  display: none;
}

.space-between {
  display: flex;
  justify-content: space-between;
}

.cart-items {
  border: 1px solid rgb(196, 203, 201);
  padding: 25px 25px;
  border-radius: 10px;

}
.cart-item {
  border: 1px solid rgb(196, 203, 201);
  padding: 25px 25px;
  border-radius: 10px;
  margin: 0px 20px 20px 20px;
}

.cart-products {
  /* border: 1px solid chocolate; */
  padding: 20px;
  background-color: #fff;
}

.information-cart-product h2 {
  font-size: 16.5px;
  font-weight: 500;
  line-height: 24.5px;

}


.product-quantity .btn-down,
.btn-up {
  padding: 0px 8px;
  color: #374151;
  font-size: 14px;
  line-height: 18px;
  text-align: center;
  height: 30px;
  border: none;
  border: 2px solid #d1d5db;
  background-color: #f2f4f6;
}

.btn-down {
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}
.btn-up {
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.quantity {

  height: 30px;
  width: 20px;
  background-color: #f2f4f6;
}

.information-cart-product p {
  font-size: 20px;
}

body {
  background-color: rgb(243, 244, 246);
}




.delete-cart {
  display: flex;
  align-items: end;
  border-top: 2px solid #d8dee2  ;
  line-height: 30px;
}
 
.status {
  line-height: 30px;
}

.Recharge {
  background-color: blue;
}

.payment {
  text-align: center;
}

.pttt {
  display: flex;
  padding: 10px 20px;
  border-radius: 10px;
  justify-content: center;
}

.momo {
  background-color: rgb(174, 32,112);
}

.pttt div {
  line-height: 40px;
  color: white;
  margin-left: 5px;
  font-size: 15px;
}

.momopay {
  transform: scale(0.8);
  transition: 0.5s;
  z-index: 20;
  padding: 30px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(22, 21, 21, 0.6);
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-momopay {
  max-width: 1000px;
    background-color: white;
    padding: 20px 30px;

}


.img-momopay img {
  width: 400px;
}

.close {
  position: absolute;
  top: 5px;
  right: 20px;
  font-size: 35px;
}
.show {
  opacity: 100;
  pointer-events: auto;
  transform: scale(1);
}

.hide {
  display: none;
}

@media (max-width:600px) {
  .img-momopay img {
    width: 100px;
  }
}
@media (max-width:900px) {
  .img-momopay img {
    width: 150px;
  }
}
@media (max-width:1200px) {
  .img-momopay img {
    width: 300px;
  }
}

