.filter-products {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    gap: 20px;
}

.item a {
    color: #000;
}

.filter-products select {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    border: 1px solid rgb(181, 188, 186);
    padding: 0px 15px;
    flex-basis: 100.00000000%;
}

.filter-products select .category-ds {
    position: absolute;
    top: 1px;

}

.filter-price {
    width: 100%;
    display: flex;
    align-items: center;
}

.filter-price input {
    width: 100%;
    height: 40px;
    border-radius: 5px;
    padding: 5px 10px
}

.filter-product {
    background-color: #2579f2;
    max-height: 40px;
    border-radius: 5px;
    color: white;
}

.No-products-match {
  text-align: center;
}

.No-products-match img {
    max-width: 100%;
}